body {
}

.lobby-body
{
    height:300px;
    overflow-y:scroll;
}

#discussion
{
    height:150px;
    overflow-y:scroll;
}

#message
{
    max-width:10000px;
}

.no-padding-left
{
    padding-left:0px;
}

.seat-stand-button{
    cursor:pointer;
    color:black;
}

.seat-accept-thumb{
    cursor:pointer;
    color:black;
}

.seat-accept-thumb.accepted{
    cursor:pointer;
    color:lightgreen;
}

.seat-accept-thumb.hidden{
    display:none;
}

.seat-join-button.hidden{
    display:none;
}

.seat-user-name.hidden{
    display:none;
}